body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e1e1e;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
}

nav {
    margin-top: 0.5rem;
}

nav a {
    color: #abd14b;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

pre {
    background: #eee;
    padding: 1rem;
    overflow-x: auto;
}

ul {
    padding-left: 1.5rem;
}

code {
    background-color: #eaeaea;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
}
