main {
    width: 80%;
    margin: 1rem auto;
}
button {
    background: #abd14b;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}
pre {
    background: #eef;
    padding: 1rem;
    white-space: pre-wrap;
}
